---
layout: archive
permalink: /collegiacio/
title: "Col·legiació"
author_profile: true

---

{% include feature_row %}

<p>
<a href="http://www.ingenierosdemontes.org/Contenidos.aspx?id=colegiacion-colegiados" class="btn btn--info btn--x-large">Aquí trobaràs el formulari i les instruccions per col·legiar-te  </a> 
<br/>
<br/>
<strong>AVANTATGES</strong> <br/>
<small>Assegurança de Responsabilitat Civil Professional Bàsic de 30.000 € per sinistre i anualitat pel fet d'estar col·legiat.<br/>
Assegurança de Responsabilitat Civil Professional de 350.000 € per sinistre i anualitat pel fet de visar o registrar els treballs professionals.<br/>
Els Col·legiats disposen d'una assegurança de 3.500 € de quantia en cas de mort per accident amb la Mutualitat de l'Enginyeria AMIC.<br/>
Possibilitat de contractar l'assegurança RCP voluntària d'adhesió individual de fins a 1.500.000 € de cobertura en condicions econòmiques especials.<br/>
Defensa dels teus interessos professionals, mitjançant atenció personalitzada, de forma totalment gratuïta, davant de qualsevol òrgan de l'Administració.<br/>
Accés al servei de visat i registre de treballs professional, tant presencial com on-line.<br/>
El Col·legi garanteix l'arxiu, la integritat i la conservació de la documentació tècnica dels treballs professionals visats o registrats.<br/>
Possibilitat de contractar assegurances generals (llar, vida, acte, ...) a preus especials.<br/>
Formació Contínua presencial i on-line amb bonificació.<br/>
Altres cursos de formació amb importants descomptes per a col·legiats.<br/>
Possibilitat d'accedir gratuïtament al Portal d'Ocupació i inscriure en les ofertes.<br/>
Rebre la Revista Montes, en format paper, de forma gratuïta.<br/>
Possibilitat de rebre l'Agenda Tècnica gratuïtament.<br/>
Possibilitat per accedir a la modalitat de préstec de llibres a la Biblioteca de la ETSE Montes de Madrid i la de València.<br/>
Possibilitat d'accedir gratuïtament a l'Assessoria Tècnica.<br/>
Possibilitat d'accedir gratuïtament a l'Assessoria Jurídica.<br/>
Possibilitat d'accedir gratuïtament a l'Assessoria Fiscal i Laboral i a la Guia Treballar com a Enginyer.<br/>
Possibilitat d'inclusió en la Llista Oficial de Perits Enginyers de Forests a nivell nacional.<br/>
Possibilitat de tramitar denúncies sobre la defensa de llocs de treball.<br/>
Possibilitat de llogar vehicles en condicions especials.<br/>
Possibilitat de reservar allotjaments en condicions especials.<br/>
Possibilitat de contractar viatges en condicions especials.<br/>
Possibilitat d'adquirir entrades d'espectacles a preus especials.<br/></small>
<hr/>
<strong>REQUISITS</strong><br/>
<small>Estar en possessió del títol d'Enginyeria de Forests o del Màster Universitari que habiliti per a l'exercici de la professió 
d'Enginyer de Forests o títol equivalent oficialment homologat o reconegut.</small>
</p>
{% include paginator.html %}
