---
layout: archive
permalink: /empresesColegiats/
title: "Empreses on donen serveis els nostres col·legiats"
author_profile: true

gallery:
  - url: junta.jpg
    image_path: junta.jpg
    alt: "Empreses dels col·legiats"
    title: "Empreses dels col·legiats"
    
categories:
  - empreses
  - serveis
tags:
  - col·legiats
  - serveis
  - ocupació
---
Des del Col·legi d'Enginyers de Forests i des de l'Associació d'Enginyeria del Medi Natural entenem que la formació com Enginyer/a de Forests atorga al titulat una sèrie de valors com ara l'honestedat, la perseverança, l'eperit crític, etc. que fan que considerem que les empreses o institucions que compten amb un/a tinguin un caràcter de servei d'alta qualificació. Per aquesta raó us oferim ací un llistat de les empreses on es pot trobar el servei de col·legiats/-des Enginyers/res de Forests o d'empreses fundades per aquests/es.<br>
Val a dir que un percentatge important dels col·legiats i col·legiades treballen en institucions públiques, como ara la Generalitat de Catalunya, les Diputacions Provincials, els Consells Comarcals, Ajuntaments, Centres de Recerca, etc. i per tant, ja us estan donant un servei sense la necessitat de contactar-lo. Les Enginyeres i Enginyers de Forests donen serveis dins els ecosistemes forestals des de fa més de 150 anys.<br>
El visat i el resgistre de treballs professionals us donarà una garantia extra a qualsevol treball que encarregueu a un/a Enginyer/a de Forests, ja que és sotmès a revisió i a més li cobreix una assegurança de responsabilitat civil. No dubteu en confiar en qualsevol dels nostres col·legiats.<br>
<h2>Empreses</h2>
{% include base_path %}

{% for post in site.posts %}
  {% if post.clase == 'empreses' %}
  
  {% include empreses-llista.html %}
  {% endif %}
{% endfor %}
