---
layout: archive
permalink: /formacio/
title: "Formació"
author_profile: true

gallery:
  - url: junta.jpg
    image_path: junta.jpg
    alt: "Junta CEFC"
    title: "Junta CEFC"
    
categories:
  - formació
  - serveis
tags:
  - formació
  - cursos
  - ocupabilitat
---
La nova junta està treballant el tema. Properament posarem en funcionament aquest apartat. Tingueu una mica de paciència... <br/>


<br/>
<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% include posts-tag.html taxonomy=page.taxonomy type=page.entries_layout %}
</div>
<hr/>






{% include paginator.html %}
