---
layout: splash
author_profile: true

header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: header.jpg
  caption: ""
excerpt: "Col·legi i Associació d'Enginyers de Forests. Catalunya. <br/>
<small>Via laietana, 39. 08003, Barelona. <br/>
Tfn/Fax: 932 684 081.</small>"

feature_row:
  - image_path: darse-las-manos.gif
    url: "https://cefcat.github.io/borsadefeina/"
    btn_label: "Borsa de treball"
    btn_class: "btn--inverse"
  <!-- - image_path: agenda.png
    url: "https://cefcat.github.io/agenda/"
    btn_label: "Agenda"
    btn_class: "btn--inverse"-->
  - image_path: reunions.jpeg
    url: "https://cefcat.github.io/reunions/"
    btn_label: "Reunions i trobades"
    btn_class: "btn--inverse"
---

{% include feature_row %}

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<footer>
  <p > 
  
  <br/>
  <br/>
  <hr />
  <a href="http://www.ingenierosdemontes.org" class="image featured"><img src="images/madrid.png" height="150px" width="150px" alt="" /></a>
  <a href="http://www.enginyers.cat" class="image featured"><img src="images/inec.png" height="150px" width="150px" alt="" /></a>
  <a href="http://www.igenium.cat" class="image featured"><img src="images/igenium.png" height="150px" width="150px" alt="" /></a>
  </p>
</footer>
