---
layout: splash
author_profile: true

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: logo colegi.jpg
  cta_label: "Contacte"
  cta_url: "https://cefcat.github.io/contacte/"
  caption: ""
excerpt: "Col·legi d'Enginyers de Forests. Catalunya."

gallery:
  - url: logo colegi.jpg
    image_path: logo colegi.jpg
    alt: "placeholder image 1"
    title: "Ofertes de feina"
  - url: orles.jpg
    image_path: orles.jpg
    alt: "placeholder image 2"
    title: "Agenda"
  - url: orles.jpg
    image_path: orles.jpg
    alt: "placeholder image 3"
    title: "Image 3 title caption"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
