---
layout: splash
author_profile: true

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: logo colegi.jpg
  cta_label: "Activitats"
  cta_url: "https://cefcat.github.io/noticies/"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Col·legi d'Enginyers de Forests. Catalunya.  <br/>
<small>Via Laietana, 39 • 08003 Barcelona <br/>
Tfn/Fax: 932 684 081<br/>
</small>"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
