---
layout: splash
author_profile: true

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: logo colegi.jpg
  cta_label: "Contacte"
  cta_url: "https://cefcat.github.io/contacte/"
  caption: ""
excerpt: "Col·legi d'Enginyers de Forests. Catalunya."

feature_row:
  - image_path: obres.jpg
    alt: "Obres"
    title: "Estem en obres"
    excerpt: "Però tindrem la pàgina acabada aviat. Disculpi les molèsties."
  
---

{% include feature_row %}
{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


