{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% capture teaser %}{{ site.teaser }}{% endcapture %}
{% endif %}

<div >
  

    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser != blank %}
        <div class="archive__item-teaser">
          <img src=
            {% if teaser contains "://" %}
              "{{ teaser }}"
            {% else %}
              "{{ teaser | prepend: "/images/" | prepend: base_path }}"
            {% endif %}
            alt="">
        </div>
      {% endif %}
      <h2 class="archive__item-title" itemprop="headline">{% if post.id %}<a href="http://{{ post.web }}" >{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}</a>{% else %} <a href="http://{{ post.web }}" >{{ post.title }}</a>{% endif %}{% if post.link %}<i class="fa fa-star" aria-hidden="true"></i>{% endif %}</h2>
      Col·legiats: <ul>{% for item in post.colegiat %}<li>{{ item }}</li>{% endfor %}</ul>
      Serveis: <ul>{% for item in post.serveis %}<li>{{ item }}</li>{% endfor %}</ul>
      Web: <a href="http://{{ post.web }}">{{ post.web }}</a> <br>
      {% if post.adresa %}Adreça: {{ post.adresa }}<br>{% endif %}
      {% if post.telefon %}Telèfon: {{ post.telefon }}<br>{% endif %}
      e-correu: <a href="mailto:{{ post.correu }}">{{ post.correu }}</a> <br>
      
      <hr>
    </article>
 
</div>

