
<table>
  <tbody>
    <tr>
      <td style="width: 30%;"><h2>Títol</h2></td>
      <td style="width: 70%;"><h2>{{ page.title }}</h2></td>
    </tr>
    <tr>
      <td style="width: 30%;"><h3>On</h3></td>
      <td style="width: 70%;"><h3>{{ page.lloc }}</h3></td>
    </tr>
    <tr>
      <td style="width: 30%;"><p>Inici</p></td>
      <td style="width: 70%;"><bold>{{ page.inici }}</bold></td>
    </tr>
  {% if page.fi %}
    <tr>
      <td style="width: 30%;">Fi</td>
      <td style="width: 70%;">{{ page.fi }}</td>
    </tr>
  {% endif %}
    <tr>
      <td style="width: 30%;">Més informació</td>
      <td style="width: 70%;"><a href="{{ page.enllac }}">{{ page.enllac }}</a></td>
    </tr>
  </tbody>
</table>
