
<table>
  <tbody>
    <tr>
      <td style="width: 30%;"><h1>Data</h1></td>
      <td style="width: 70%;"><h1>{{ page.inici }}</h1></td>
    </tr>   
  {% if page.fi %}
    <tr>
      <td style="width: 30%;"><h1>Data finalització</h1></td>
      <td style="width: 70%;"><h1>{{ page.fi }}</h1></td>
    </tr> 
  {% endif %}
    <tr>
      <td style="width: 30%;"><h1>On</h1></td>
      <td style="width: 70%;"><h1>{{ page.lloc }}</h1></td>
    </tr>
    <tr>
      <td style="width: 30%;"><h1>Més informació</h1></td>
      <td style="width: 70%;"><a href="{{ page.enllac }}">{{ page.enllac }}</a></td>
    </tr>
  </tbody>
</table>
