
       <table style="text-align: left; width: 100%;"
 border="2" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="width: 30%;">Títol</td>
      <td style="width: 70%;">{% post.title %}</td>
    </tr>
    <tr>
      <td style="width: 30%;">On</td>
      <td style="width: 70%;">{% post.lloc %}</td>
    </tr>
    <tr>
      <td style="width: 30%;">Inici</td>
      <td style="width: 70%;">{% post.inici %}</td>
    </tr>
  {% if post.fi %}
    <tr>
      <td style="width: 30%;">Fi</td>
      <td style="width: 70%;">{% post.fi %}</td>
    </tr>
  {% endif %}
    <tr>
      <td style="width: 30%;">Més informació</td>
      <td style="width: 70%;">{% post.enllac %}</td>
    </tr>
  </tbody>
</table>
